
.mail-compose {
    height:80vh;
    border-radius: 8px 8px 0 0;
    box-shadow:rgb(0 0 0 / 20%) 0 2px 6px;
    margin-inline-start: 10px;
}

.mail-compose header {
    padding: 15px 11px 31px 15px;
    border-radius: 8px 8px 0 0;
    background-color: var(--compose-header-color) ;
    height: 2rem;
    color: var(--main-bg-color);
}
.mail-compose header button {
    border:none;
    background-color: unset;
    color:var(--light-text-color);
    cursor: pointer;
    
}
.mail-compose header button:hover {
    background-color: var(--main-hoover-color);
    
    color:var(--main-bg-color);
}
.mail-compose .info-container {
    height: 100%;
    width:100%;
    padding: 0 16px;
    padding-bottom:15px;
    margin-top:9px;
    
}
.mail-compose .info-container .form-container {
    height: 100%;
}
.mail-compose .info-container .form-container button{
    
    background-color: var(--send-button-color);
    color: var(--main-bg-color);
    height: 36px;
    width:80px;
    border:none;
    border-radius:6px;
    cursor: pointer;
    margin-bottom:60px;
}
.mail-compose .info-container .form-container button:hover{
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
}
.mail-compose .info-container .form-container > input {
    padding-bottom: 8px;
    padding-top: 8px;
    border:none;
    border-bottom: var(--main-border-color) 1px solid;
    
}
.mail-compose .info-container .form-container > input:focus-visible {
    outline: none;
}
.mail-compose .info-container .form-container > * :focus-visible {
   outline: none;
}

.mail-compose .info-container .form-container .body-area {
    flex-grow:1;
    margin-top: 8px;
    max-height: 80%;
    width: 100%;
}
.mail-compose .info-container .form-container .body-area textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    border:none
}

