
.mini-header.mail-header {
    width:100%;
    padding:  0.3em 0;
    font-size: 1.2rem;
    box-shadow: inset 0 -1px 0 rgb(100 121 143 / 12%);
    margin-bottom: 15px;
    
}
.mini-header.mail-header .mail-search-container {
    width:100%;
    height: 100%;
    margin-inline-end: 5000px;
   
    
    
}
.mini-header.mail-header .mail-search-container :first-child {
   
    margin-inline-end: 1em;
    
}
.mini-header.mail-header .mail-search-container input {
   
    background-color: var(--secondary-bg-color);
    border: 1px solid transparent;
    height: 3rem;
    border-radius: 8px;
    margin-inline-start: 300px;
    width:720px;
    position:relative;
    padding-inline-end: 50px;
    padding-inline-start: 30px;
    font-size: 1.2rem;
    transition: background 100ms ease-in,width 100ms ease-out;
    
}
.mini-header.mail-header .mail-search-container input:focus-visible {
   
    outline:none ;
    background-color: inherit;
    
}
.mini-header.mail-header .mail-search-container button {
   
    background-color: unset;
    border:none;
    cursor: pointer;
    
}