.mail-filter{
    
    min-width: 300px; 
    height: 100%;
  
  
}

.mail-filter .filter-options-container  {
    margin-inline-end: 0.5rem;
    
   
}
.mail-filter .filter-options-container >* {
    display: flex;
    align-items: center;
    height:32px;

    padding:0 12px 0 26px;
   
    border-radius: 0 1rem 1rem 0;
    margin-bottom: 0.2em;
    cursor: pointer;
}
.mail-filter .filter-options-container >*:hover {

   background-color: var(--main-hoover-color) ;
}
.mail-filter .filter-options-container >*.active {

   background-color: var(--inbox-hoover-color) ;
   color:#db392f;
   
   
}

.mail-filter button  {
    /* border:none; */
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    margin-inline-start: 1em;
    margin-bottom: 1em;
    padding: 0 24px 0 15px;
    font-size: .875rem;
    letter-spacing: .25px;
    background-color: #fff;
    border-radius: 2rem;
    color:#3c4043;
    font-weight: 500;
    height: 48px;
    overflow: hidden;
    cursor: pointer; 
}
.mail-filter button:hover  {
    background-color: #3c4043;
    color:#fff;

    
    
}
