.mail-small-preview {

    padding: 15px 20px;
    border-bottom: solid lightgrey 1px;
    gap:1.2rem;   
    transition: all 0.4s;
    cursor: pointer;
}
.mail-small-preview:hover {

    box-shadow: inset 1px 0 0 rgb(255 255 255 / 20%),
    inset -1px 0 0 rgb(255 255 255 / 20%), 
    0 0 4px 0 rgb(95 99 104 / 60%), 
    0 0 6px 2px rgb(95 99 104 / 60%);
      
}
.mail-small-preview .mail-info{

    flex-grow: 1;
    
    
}
.mail-small-preview .mail-info > :nth-child(1){
    margin-inline-start: 2rem  
}
.mail-small-preview .mail-info > :nth-child(2){
    margin-inline-start: 0.5rem;  
    color: var(--main-sub-text-color)

}

.mail-big-preview {

    padding: 15px 20px;
   
    border-bottom: solid lightgrey 1px;
    gap:1.2rem; 
    
    transition: all 0.4s
}