.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.bold {
    font-family: roberto-bold;
}



/* Font Awsome Helperes */

.fa{
    font-family: fa;
}
.fas {
    font-family: fas
}

.fa.fa-trash::before{
    content: "\f1f8" ;
}

.fas.fa-expand::before{
    content: "\f065" ;
}
.fas.fa-envelope-open::before{
    content: "\f2b6" ;
}
.fas.fa-envelope-close::before{
    content: "\e4e8" ;
}
.fas.fa-user::before{
    content: "\f007" ;
}

