section.home-img-container {}

.home {
    font-family: 'roboto-regular';
    /* position: relative; */
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-img-container {
    background-image: url(../../img/home-bg-img.jpg);
    background-size: cover;
    position: absolute;
    width: 100%;
    opacity: 0.75;
    height: 100vh;
}

.all-father.flex {
    flex-direction: column;
    justify-content: space-around;
    color: rgb(26, 26, 26);
    position: absolute;
    width: 550px;
    margin: 0 auto;
    height: 100%;
}

.main-logo-container {
    width: 100%;
    margin-left: 50px;
    margin-bottom: 100px;
}

.main-logo-container>.main-logo {
    line-height: 55px;
    font-size: 4rem;
    width: 100%;
    font-family: 'roboto-bold';
}

.main-logo-container p {
    font-size: 1.125rem;
    margin-top: 10px;
    font-weight: 700;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 135px;
    border-radius: 5px;
    background-color: #3c3c3c;
    color: rgb(209, 209, 209);
}

@media (max-width: 650px) {
    .all-father.flex {
        width: 100%;
    }
    .main-logo-container {
        margin: 0;
        padding: 0 10px;
    }
    .main-logo-container p {
        min-width: 350px;
    }
}