.add-note {
    margin: 10px auto;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 0 2px rgba(0, 0, 0, 0.132);
    border-radius: 7px;
}

.note-adder {
    margin-right: 25px;
}

.add-btns-container {
    width: 140px;
    justify-content: space-between;
    align-items: center;
}

.add-note input {
    border: none;
    padding: 0 20px;
    height: 25px;
    width: 285px;
}

.add-note input:focus-visible {
    outline: 0;
}

.add-note button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}

.add-note>button.btn {
    margin-inline-start: 5px;
}

.add-note:hover {
    box-shadow: outset 2px 2px 0 rgb(0 0 0 / 10%);
}

.note-adder .add-btn {
    width: 25px;
    height: 25px;
    margin-top: 4x;
    background-repeat: round;
    background-image: url('../../../../img/icons/add-btn-icon.svg');
}

.add-btn,
.btn:hover {
    cursor: pointer;
}

button.btn.txt-selector {
    width: 24px;
    height: 24px;
    margin-bottom: 1px;
    background-repeat: round;
    background-image: url('../../../../img/icons/add-txt-btn-icon.svg');
}

button.btn.img-selector {
    width: 24px;
    height: 24px;
    background-repeat: round;
    background-image: url('../../../../img/icons/add-img-btn-icon.svg');
}

button.btn.video-selector {
    width: 30px;
    height: 45px;
    background-repeat: round;
    background-image: url('../../../../img/icons/video-btn-icon.svg');
}

button.btn.todos-selector {
    width: 30px;
    height: 30px;
    background-repeat: round;
    background-image: url('../../../../img/icons/todo-btn-icon.svg');
}