.bg-input-selector {
    height: 50px;
    width: 100%;
    /* position: absolute; */
    /* background-color: antiquewhite; */
    box-shadow: 0.5px 1px 0px #e0e0e0;
}

.bg-input-selector .items-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bg-item {
    margin-left: 2.5px;
    height: 40px;
    width: 40px;
    border-radius: 10%;
    border: 0.5px solid rgb(92, 86, 86);
    opacity: 0.6;
}

.bg-item:hover {
    /* box-shadow: 1x 1px 1px #474545 */
    border: 0.5px solid black;
    cursor: pointer;
    opacity: 1;
}

.items-container>.btn {
    background-color: transparent;
}