.keep-preview.flex {
    page-break-inside: avoid;
    /* width: 100%; */
    background-color: #fff;
    font-size: 1.25rem;
    border-radius: 7px;
    box-shadow: 0.5px 1px 0px 1.2px #e0e0e0;
    transition: box-shadow 0.2s;
    margin-bottom: 15px;
    flex-direction: column;
}

.keep-preview:hover {
    box-shadow: 0.5px 1px 0px 2px #e0e0e0;
}

.keep-preview button.delete-btn {
    align-self: flex-end;
    padding: 5px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    background-color: transparent;
}

.keep-preview button.btn:hover {
    cursor: pointer;
}

.keep-preview .note {
    flex-grow: 1;
}

.control-box {
    margin-right: 5px;
}

.note h3 {
    font-size: 1.125rem;
}

.delete-btn {
    padding-top: 5px;
}

.control-box .btn {
    width: 27px;
    height: 27px;
    padding: 5px;
}

.control-box>*:not(:last-child) {
    margin-inline-end: 5px;
}

.bg-color-btn {
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-image: url('../../../../img/icons/colorpalette_icon.png');
    background-repeat: round;
}

.delete-btn {
    width: 35px;
    height: 35px;
    background-image: url('../../../../img/icons/remove-btn-icon.svg');
    background-repeat: round;
}

.control-box {
    height: 10%;
    width: 100%;
    justify-content: flex-end;
    padding: 5px;
}