.keep-preview.flex {
    width: 100%;
    background: #e1e1e1;
    font-size: 1.25rem;
    border-radius: 7px;
    box-shadow: 0.5px 1px 0px #e0e0e0;
    transition: box-shadow 0.2s;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.keep-preview .note {
    margin-bottom: 1.5px;
    width: 100%
}

.keep-preview:hover {
    box-shadow: 0.5px 1px 0px 1.4px #e0e0e0;
}

.keep-preview button.delete-btn {
    align-self: flex-end;
    margin-right: 5px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
    background-color: transparent;
}

.keep-preview button.delete-btn:hover {
    cursor: pointer;
}

.keep-preview .note {
    flex-grow: 1;
}