.note-img-container {
    overflow: hidden;
    /* height: fit-content; */
    border-radius: 5px;
}

.note-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}